<ion-view title="Accueil" hide-back-button="true" id="page4" style="background-color:#FFFFFF;">
    <ion-content  style="background: url(img/vwouAxTTtOHf9moJJlrS_background_app.jpg) no-repeat center;background-size:cover;" padding="true" class="has-header">
        <ion-list>
            <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="popUp">
                    <img src="../img/image_profile.jpg" >
                <h2>Nom Prénom</h2>
                <p style="white-space:normal;">Intellectum est enim mihi quidem in multis, et maxime in me ipso,</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="popUp">
                 <img src="../img/image_profil_fille.jpg" >
                <h2>Nom Prénom</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="popUp">
                 <img src="../img/image_user.jpg" >
                <h2>Nom Prénom</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="popUp">
                 <img src="../img/image.jpg" >
                <h2>Nom Prénom</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="popUp">
                 <img src="../img/image.jpg" >
                <h2>Nom Prénom</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="popUp">
                 <img src="../img/image_user.jpg" >
                <h2>Nom Prénom</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="popUp">
                 <img src="../img/image_user.jpg" >
                <h2>Nom Prénom</h2>
                <p>Item</p>
            </ion-item>
            
        </ion-list>

        <ion-item class="item-thumbnail-left" ui-sref="Contact">
            <img src="../img/image.jpg" >
            <h2>Nom Prénom</h2>
            <p>Item</p>
        </ion-item>
    </ion-content>

</ion-view>
