<ion-view title="Création d'événement" hide-nav-bar="true" id="page7">

  <div class="bar bar-header bar-energized" >
    <div class="h1 title title-center light">
      Création d'événement
    </div>
    <div class="buttons buttons-right header-item">
      <span class="right-buttons">
        <button class="button button-icon button-clear ion-android-settings" ng-click="openPopover($event)">
        </button>
      </span>
    </div>
  </div>
  <ion-content padding="true" scroll="true" class="has-header">


    <form class="list">
      <label class="item item-input" name="Titre">
        <input type="text" placeholder="Titre de l'événement">
      </label>
      <label class="item item-input">

        <textarea style="height:100px" placeholder="Quelques mots sur l'événement" class="no-resize" ></textarea>

      </label>

            <label class="item-input" style="padding-left:0px">
              <ion-toggle toggle-class="toggle-energized" ng-checked="true" style="padding-right:50px;padding-top:8px;padding-bottom:5px" >

                <input type="text" placeholder="Ville" style="float:left;width:87%"  ></input>
                <i class="icon ion-beer" ></i>
              
              </ion-toggle>
            </label>
      <button ng-click="showcheck();liked=!liked" id="personaliserVotreProfil-button17"
      ng-class="{'icon-right ion-chevron-up' : liked,'icon-right ion-chevron-down' : !liked}"
      style="height:25px" class="button button-block ">
      Centres d'intérêt
    </button>
    <ul ng-show="showcheckbox"  >

      <li id={{item.id}} class="item item-checkbox item-checkbox-right icon {{item.icon}}" ng-repeat="item in items" >
        {{item.name}}
        <label class="checkbox">
          <input type="checkbox">
        </input>
      </label>
    </li>
  </ul>
  <ion-list style="height:100px;">
    <ion-radio style="width:50%;float:left;text-align:center;"
    ng-repeat:="item type"
    ng-model="type"
    ng-value="public"
    name="type">Public</ion-radio>

    <ion-radio style="width:50%;text-align:center;"
    ng-repeat:="item type"
    ng-model="type"
    ng-value="prive"
    name="type">Privé</ion-radio>
  </ion-list>

  <label class="item item-input" name="nbperso">
    <input type="number" placeholder="Nombre de personne">
  </label>
  <label class="item item-input" name="Description">
    <input type="text" placeholder="Description">
  </label>
  <a ui-sref="accueil" id="creationevent-button13"
  style="color:white;width:100%"
  class="button button-light button-block button-energized icon ion-android-checkmark-circle"></a>

</form>
</ion-content>
</ion-view>
