<ion-view title="Création d'événement" hide-nav-bar="true" id="page7" hide-tabs="true">

  <div class="bar bar-header bar-energized" >
    <div class="h1 title title-center light">
      Création d'événement
    </div>
    <div class="buttons buttons-right header-item">
      <span class="right-buttons">
        <button class="button button-icon button-clear ion-android-settings" ng-controller="regCtrl" ng-click="openPopover($event)">
        </button>
      </span>
    </div>
  </div>
  <ion-content padding="true" scroll="true" class="has-header">


    <form class="list">
      <div class="divi">
        <label class="item item-input divi" name="Titre" >
          <input type="text" ng-required="true" placeholder="Titre de l'événement">
        </label>
      </div>
      <div class="divi">
        <label class="item item-input " >

          <textarea style="height:100px" placeholder="Quelques mots sur l'événement" class="no-resize" ></textarea>

        </label>
      </div>

      <label class="item-input" style="padding-left:0px">
        <ion-toggle toggle-class="toggle-energized" ng-checked="true" style="padding-right:50px;padding-top:8px;padding-bottom:5px" >

          <input type="text" placeholder="Ville" style="float:left;"  ></input>

        </ion-toggle>
      </label>

      <button ng-click="showcheck();liked=!liked" id="personaliserVotreProfil-button17"
      ng-class="{'icon-right ion-chevron-up' : liked,'icon-right ion-chevron-down' : !liked}"
      style="height:25px" class="button button-block ">
      Type d'événement
    </button>
    <ul ng-show="showcheckbox"  >
      <div class="divi">

        <li id={{item.id}} class="item item-checkbox item-checkbox-right icon {{item.icon}} " ng-repeat="item in items" >
          {{item.name}}
          <label class="checkbox checkbox-energized">
            <input type="checkbox" >
          </input>
        </label>
      </li>
    </ul>
  </div>
<div class="divi">
  <p> Nombre de personne</p>
  <label class="item item-input item-icon-right ion-person" name="nbperso" style="width:21%;float:left;">
    <input type="number" placeholder="{{data.nbpers}}" value={{data.nbpers}} ng-model="data.nbpers" style="padding-right:0px" >
  </label>
  <div class="item range range-possitive" style="width:79%">
    <input type="range" name="nbpers" min="1" max="150" ng-model="data.nbpers">
  </div>

</div>

<p style="margin-top:9px">Date de l'événement </p>
  <label class="item item-input" name="Date" style="width:70%;float:left;">
    <input type="date" placeholder="Date" ng-model="data.date" style="padding-right:0;">
  </label>
  <label class="item item-input" name="Heure" style="width:30%;padding-left:5px">
    <input type="time" placeholder="Heure" ng-model="data.date" style="padding-right:0;">
  </label>


  <ion-list style="height:100px;"  >


    <ion-radio style="width:50%;text-align:center;float:left;"
    ng-repeat:="item type"
    ng-model="data.type"
    ng-value="prive"
    ng-checked="false"
    name="type">Privé</ion-radio>
    <ion-radio style="width:50%;text-align:center;"
    ng-repeat:="item type"
    ng-model="data.type"
    ng-value="public"
    ng-checked="true"
    name="type">Public</ion-radio>

  </ion-list>

  <a ui-sref="accueil" id="creationevent-button13"
  style="color:white;width:100%"
  class="button button-light button-block button-energized icon ion-android-checkmark-circle"></a>

</form>
</ion-content>
</ion-view>
