<ion-view title="Event" id="page6" class=" ">
    <ion-content style="background: url(img/vwouAxTTtOHf9moJJlrS_background_app.jpg) no-repeat center;background-size:cover;" padding="true" class="has-header">
        <div class="list card " id="event-card1">
            <div class="item item-divider">Tomorrowland concert</div>
            <div class="item item-body">
                <div style="margin: 0px; line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                   
                </div>
                
                <form id="event-form2" class="list ">
                    <img style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" src="../img/Tomorrowland-USA-1024x682.jpg"/ >
                <img style="width: 30px; float:left;"  src="../img/icon1.png" />
                <img style="width: 30px; float:left;"  src="../img/icon2.png" />
                    </br>
                     <div id="event-markdown4" style="color:#000000;" class=" ">
                    <p>Description
                    </p>
                </div>
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="search" placeholder="Lieu">
                    </label>
                    <div id="event-markdown4" style="color:#000000;" class=" ">
                    <p>Qui organise ?
                    </p>
                </div>
                    <ion-item class="item-thumbnail-left" ui-sref="popUp">
                 <img src="../img/image_profil_fille.jpg" >
                <h2>Nom Prénom</h2>
                <img  style="width: 30px; float:left;" src="../img/icon3.png" />
                <img style="width: 30px; float:left;"  src="../img/icon1.png" />
                <img style="width: 30px; float:left;"  src="../img/icon2.png" />
            </ion-item>
            <div id="event-markdown4" style="color:#000000;" class=" ">
                    <p>Qui participe ?

                    </p>
                    <img style="width: 50px; float:left;"  src="../img/image.jpg" />
                    <h2>&nbsp; Prénom</h2>
                </div>
                </form>
            </div>
        </div>
        <button  id="event-button7" style="left:-10px;color:#FFFFFF;font-size:16px;" class="button button-light  button-full button-outline">Participer</button>
        <button  id="event-button7" style="left:-10px;color:#FFFFFF;font-size:16px;" class="button button-light  button-full button-outline">Tchat</button>
    </ion-content>
</ion-view>