<ion-view  title="MyWay" id="event2" hide-tabs="false">
  <div class="bar bar-header bar-energized" >
    <div class="h1 title title-center light">
      Evenement
    </div>
    <div class="buttons buttons-right header-item">
      <span class="right-buttons">
        <button class="button button-icon button-clear ion-android-settings" ng-controller="regCtrl" ng-click="openPopover($event)">
        </button>
      </span>
    </div>
  </div>


    <ion-content padding="false" class="has-header has-subheader has-tabs-top" scroll="true" style="margin-top:40px">


        <a class="item item-icon-left item-icon-right" ui-sref="demande">
        <i class="icon icon ion-paper-airplane "></i>
        Demandes en attentes
         <span class="badge badge-assertive">9</span>
        <i class="icon ion-arrow-right-c"></i>
      </a>

     <div class="item item-divider">
        Les événements à venir
      </div>

      <div class="list">
        <a class="item item-avatar" ui-sref="event" >
          <img src="img/Tomorrowland-USA-1024x682.jpg">
            <i class="icon icon-right ion-person " style="float:right">{{events[0].nbpers}}</i>
                      <h2>{{events[0].titre}}</h2>
            <i style="float:right" class="icon ion-beer energized"></i>

          <p>Sheets of paper</p>

        </a>
      <button ng-click="showcheck();liked=!liked"
        ng-class="{'icon-right ion-chevron-up' : liked,'icon-right ion-chevron-down' : !liked}"
        style="height:10px" class="button button-block ">
    Afficher plus d'evenements
  </button>
   <div class="list" ng-show="showcheckbox">
        <a class="item item-avatar" ng-repeat="event in events" ui-sref="event" >
          <img src="img/Tomorrowland-USA-1024x682.jpg">
            <i class="icon icon-right ion-person " style="float:right">{{event.nbpers}}</i>
                      <h2>{{event.titre}}</h2>
            <i style="float:right" class="icon ion-beer energized"></i>

          <p>Sheets of paper</p>

        </a>
      </div>

      <div class="item item-divider">
        Mes événements passés
      </div>


          <div class="list">
            <a class="item item-avatar" ui-sref="event" >
              <img src="img/Tomorrowland-USA-1024x682.jpg">
                <i class="icon icon-right ion-person " style="float:right">{{events[0].nbpers}}</i>
                          <h2>{{events[0].titre}}</h2>
                <i style="float:right" class="icon ion-beer energized"></i>

              <p>Sheets of paper</p>

            </a>
          <button ng-click="showcheck();liked=!liked"
            ng-class="{'icon-right ion-chevron-up' : liked,'icon-right ion-chevron-down' : !liked}"
            style="height:10px" class="button button-block ">
        Afficher plus d'evenements
      </button>
       <div class="list" ng-show="showcheckbox">
            <a class="item item-avatar" ng-repeat="event in events" ui-sref="event" >
              <img src="img/Tomorrowland-USA-1024x682.jpg">
                <i class="icon icon-right ion-person " style="float:right">{{event.nbpers}}</i>
                          <h2>{{event.titre}}</h2>
                <i style="float:right" class="icon ion-beer energized"></i>

              <p>Sheets of paper</p>

            </a>
          </div>

    </ion-content>
</ion-view>
