<ion-view title="filtre" hide-nav-bar="true" id="page14">

  <div class="bar bar-header bar-energized" >
    <div class="h1 title title-center light">
      Filtre
    </div>
    <div class="buttons buttons-right header-item">
      <span class="right-buttons">
        <button class="button button-icon button-clear ion-android-settings" ng-controller="regCtrl" ng-click="openPopover($event)">
        </button>
      </span>
    </div>
  </div>

  <ion-content padding="true" class="has-header">

    <h4>Distance</h4>



    <h4>Type d'événement</h4>



    <h4>Date</h4>



    <h4>Ville</h4>



  </ion-content>
</ion-view>
