<ion-view title="Inscription" hide-nav-bar="false" id="page3" hide-tabs="true">
    <ion-content padding="false" class=" manual-remove-top-padding" scroll="false" hide-tabs>
        <form class="list">

            <ion-list>
                <label class="item item-input" name="Login">
                    <input type="text" placeholder="Login">
                </label>
                <label class="item item-input" name="mdp">
                    <input type="password" placeholder="Mot de passe">
                </label>
                <label class="item item-input" name="confmdp">
                    <input type="password" placeholder="Confirmation mot de passe">
                </label>
                <label class="item item-input" name="Mail">
                    <input type="email" placeholder="Mail">
                </label>
                <label class="item item-input" style="float:left;width:50%" name="Nom">
                    <input type="text" placeholder="Nom">
                </label>
                <label class="item item-input" style="float:left;width:50%" name="Prénom">
                    <input type="text" placeholder="Prénom">
                </label>
                <label class="item item-input">
                    <span class="input-label">Date de naissance :</span>


                    <input type="date" placeholder="Date de naissance">
                </label>

            </ion-list>

        </form>

    </ion-content>

    <a ui-sref="accueil" id="inscription-button7" style="color:#FFFFFF;" class="button button-positive  button-block bouton-footer">S'inscrire</a>

</ion-view>
