<ion-view title="Inscription" hide-nav-bar="true" id="page3" hide-tabs="true">

  <!-- Header -->
  <div class="bar bar-header bar-energized" >
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
        <button class="button button-icon button-clear ion-chevron-left" ng-controller="goback" ng-click="goback();">
        </button>
      </span>
    </div>
    <div class="h1 title title-center light" style="float:left">
      Insciption
    </div>
  </div>

  <!-- Contenu -->
  <ion-content padding="false" class="has-header" class=" manual-remove-top-padding" scroll="true">
    <!-- Formulaire saisie -->
    <form class="list" >
      <ion-list>
        <label class="item item-input item-floating-label" name="Login">
          <span class="input-label" style="font-size:12px">Login</span>
          <input type="text" placeholder="Login" ng-model="input.login">
        </label>


        <label class="item item-input item-floating-label" name="mdp">
          <span class="input-label" style="font-size:12px">Mot de passe</span>
          <input type="password" placeholder="Mot de passe" ng-model="input.password">
        </label>

        <label class="item item-input item-floating-label" name="confmdp">
          <span class="input-label" style="font-size:12px">Confirmation mot de passe</span>
          <input type="password" placeholder="Confirmation mot de passe">
        </label>

        <label class="item item-input item-floating-label" name="Mail">
          <span class="input-label" style="font-size:12px">Mail</span>
          <input type="email" placeholder="Mail" ng-model="input.mail">
        </label>

        <label class="item item-input item-floating-label"  name="nom">
          <span class="input-label" style="font-size:12px">Nom</span>
          <input type="text" placeholder="Nom" ng-model="input.nom" >
        </label>
        <label class="item item-input item-floating-label"  name="prenom">
          <span class="input-label" style="font-size:12px">Prénom</span>
          <input type="text" placeholder="Prénom" ng-model="input.prenom">
        </label>
        <!-- Saisie d'une date, le placeholder s'affiche lorsqu'il n'y à pas de date saisie-->
        <p style="padding-top:15px;margin-bottom:0;padding-left:15px;width:60%;float:left">Date de naissance</p>
        <label class="item item-input energized" style="padding-top:0;padding-bottom:0px;float:left;width:40%">
          <span ng-show="placeholderdate" style="color:#FF9800;" ng-model="date">jj/mm/aaaa</span>
          <input type="date" class="dateclass "  ng-model="input.date"
          max="{{date | date:'yyyy-MM-dd'}}" ng-change="showplacehold(datenais)">
        </label>

      </ion-list>
    </form>

  </ion-content>


  <!-- Bouton footer-->
  <button id="inscription-button7"  ng-click="addUtem()" ui-sref="accueil" style="color:#FFFFFF;margin-bottom:0" class="button button-energized  button-block bouton-footer"  type="submit">S'inscrire</button>

</ion-view>
