  <ion-popover-view height="200px" style="" >
    <ion-content  scroll="false">
      <div style="text-align: center ">
        <h4>Connexion</h4>
        <p>veuillez entrer vos informations pour se connecter</p>
      </div>

   
       <hr >
      <input style="margin: 0 auto; border-radius: 10px; "  type="text" placeholder="Mot de passe" >
      <hr >
       <input style="margin: 0 auto; border-radius: 10px;"  type="text" placeholder="Identifiant/Mail">
      <hr >
        <a style="color : orange" ui-sref="inscription"  ng-click="closePopover()">Pas de compte? Inscrivez-Vous </a>
      <p></p>
      <div class="button-bar">
        <a class="button button-stable" ng-click="closePopover()">cancel</a>
        <a class="button button-positive" ui-sref="accueil" ng-click="closePopover()">login</a>
      </div>




  <style >
      input {
                border: 1px #cf3fc3 solid;
                }
                </style>

    </ion-content>
  </ion-popover-view>
