<ion-view id="page2" hide-nav-bar="true" hide-back-button="true" hide-tabs="true" >
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '236311523415551',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    <ion-content padding="true" style="background: url(img/vwouAxTTtOHf9moJJlrS_background_app.jpg) no-repeat center;background-size:cover;" >


        <div>
            <img src="img/xZjChWrTxCoUL5eNCQ8e_Kcnez5Adi.png" width="65%" height="" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="page5-markdown3" style="color:#FFFFFF;font-size:18px;text-align:center;">
            <p>
                <strong>From The Virtual TO The Real</strong>
            </p>
        </div>
        <div style="margin-right:-20px;">
            <a  ng-controller="cnxfb"  ng-click="login()" id="page5-button1" style="left:-10px;width:100%" class="button button-positive  button-block icon-left  ion-social-facebook">Connectez-vous avec Facebook</a>
        </div>
      <a class="facebook-sign-in button button-block" ng-click="facebookSignIn()">Login with Facebook</a>
        <!--div style="margin-right:-20px;">
            <button ng-click="showPopup()" id="page5-button6" style="left:-10px;color:#FFFFFF;font-size:16px;" class="button button-light  button-full button-outline">Pas de compte Facebook</button>
        </div-->

         <div style="margin-right:-20px;">
            <button ng-controller="lgCtrl" ng-click="openPopover($event)" style="left:-10px;color:#FFFFFF;font-size:16px;" class="button button-light  button-full button-outline">Pas de compte Facebook</button>
        </div>

    </ion-content>
</div>
</ion-view>
