<ion-view title="parametre" hide-nav-bar="true" id="page13">

  <div class="bar bar-header bar-energized" >
    <div class="h1 title title-center light">
      Paramètres et notifications
    </div>
    <div class="buttons buttons-right header-item">
      <span class="right-buttons">
        <button class="button button-icon button-clear ion-android-settings" ng-click="openPopover($event)">
        </button>
      </span>
    </div>
  </div>

  <ion-content padding="true" class="has-header">

    <h4>Changement de mot de passe</h4>

    <input type="password" placeholder="Ancien mot de passe"  ></input>

    <input type="password" placeholder="Nouveau mot de passe"  ></input>
    <input type="password" placeholder="Confirmer mot de passe"  ></input>


    <h4>Notifications</h4>


  </ion-content>
</ion-view>
