<ion-view title="Personaliser votre  profil" id="page9">
  <ion-content padding="true" class="has-header">

    <ion-item class="item-thumbnail-left">
      <img src="img/jVWa4PNZQ6upjUlLovT9_image_user.jpg">


    </ion-item>
    <label class="item item-input">

      <textarea placeholder="Test" class="no-resize" ></textarea>

    </label>

    <div id="personaliserVotreProfil-markdown8" style="color:#000000;"></div>

    <ion-google-place placeholder="Enter an address, Apt# and ZIP" ng-model="location" current-location="true" />


    <div class="spacer" style="width: 283px; height: 59px;"></div>

    <button id="personaliserVotreProfil-button17"  class="button button-block button-balanced icon ion-android-checkmark-circle"></button>

  </ion-content>
</ion-view>
