<ion-view title="Personaliser votre  profil" id="page9">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/jVWa4PNZQ6upjUlLovT9_image_user.jpg">
                <h2>user</h2>
                <p>a propos de vous</p>
            </ion-item>
            <ion-item class="item-divider"></ion-item>
        </ion-list>
        <div id="personaliserVotreProfil-markdown8" style="color:#000000;"></div>
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Chercher votre parrain...">
            </label>
        </form>
        <div id="personaliserVotreProfil-markdown11" style="color:#000000;">
            <p>Inviter vos filleuls</p>
        </div>
        <button id="personaliserVotreProfil-button16" class="button button-stable  button-block icon-left ion-android-contacts">Importer vos contacts</button>
        <button id="personaliserVotreProfil-button18" class="button button-stable  button-block icon-left ion-social-facebook">Partager sur Facebook</button>
        <div class="spacer" style="width: 283px; height: 59px;"></div>
        <div style="margin-right:-20px;">
            <button id="personaliserVotreProfil-button17" style="left:-10px;color:#56D165;border-radius:9px 9px 9px 9px;" class="button button-stable  button-full icon ion-android-checkmark-circle"></button>
        </div>
    </ion-content>
</ion-view>