<ion-view title="Pop-up" hide-nav-bar="true" id="page6">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div style="margin: 0px; line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div id="popUp-markdown2" style="color:#000000;font-size:23px;text-align:center;">
            <p>Prénom (Nom)</p>
        </div>
        <div>
            <p>
                Description de l'événement
            </p>
        </div>
        <div class="button-bar">
            <a ui-sref="accueil" id="popUp-button11" style="font-weight:300;border-radius:100px 100px 100px 100px;" class="button button-positive  button-block">Je veux participer</a>
            <a ui-sref="profile" id="popUp-button12" style="font-weight:300;border-radius:10000px 10000px 10000px 10000px;" class="button button-positive  button-block">Voir le profil</a>
        </div>
    </ion-content>
</ion-view>