
  <ion-popover-view style="height:210px" >
    <ion-content>
      <ion-list>
          <a ui-sref="personaliserVotreProfil" ng-click="closePopover()" class="item ">Personnaliser votre profil</a>
          <div class="divi"/>
          <a ui-sref="parametre" ng-click="closePopover()" class="item ">Paramètre et notification</a>
          <div class="divi"/>
          <a ng-click="closePopover()" class="item ">Partagez l'application</a>
          <div class="divi"/>
          <a ui-sref="login" ng-click="closePopover()" class="item">Déconnexion</a>
      </ion-list>
    </ion-content>
  </ion-popover-view>
