
  <ion-popover-view >

    <ion-content>
      <ion-list>
          <a ui-sref="personaliserVotreProfil" ng-click="closePopover()" class="item">Personnaliser votre profil</a>
          <a ui-sref="parametre" ng-click="closePopover()" class="item">Paramètre et notification</a>
          <a ng-click="closePopover()" class="item">Partagez l'application</a>
          <a ui-sref="login" ng-click="closePopover()" class="item">Déconnexion</a>
      </ion-list>
    </ion-content>
  </ion-popover-view>
